.newbee{color: #29a6de;background-color: #271818;}
.keengaming{color: #a3a2a2;background-color: #7b4e94;}
.teamliquid{color: #0e2240;background-color: #FFFFFF;}
.alliance{color: #cdcbd0;background-color: #08783e;}
.teamsecret{color: #FFFFFF;background-color: #000000;}
.ninjasinpyjamas{color: #000000;background-color: #a88b65;}
.navi{color: #000000;background-color: #fff200;}
.evilgeniuses{color: #FFFFFF;background-color: #202d5a;}
.virtuspro{color: #fc5000;background-color: #111821;}
.rng{color: #b4926a;background-color: #FFFFFF;}
.chaos{color: #f8a770;background-color: #000000;}
.psglgd{color: #cb2026;background-color: #2a8ec1;}
.og{color: #FFFFFF;background-color: #022554;}
.tncpredator{color: #000000;background-color: #f26925;}
.forwardgaming{color: #00a6cf;background-color: #d60b66;}
.mineski{color: #f0f3fa;background-color: #3a3a3c;}
.vicigaming{color: #000000;background-color: #c5c6c6;}
.fnatic{color: #f19e33;background-color: #000000;}
.infamous{color: #FFFFFF;background-color: #a8120e;}
.newbeenewbee{background: linear-gradient(135deg,#271818 0%,#271818 50%,#271818 50%,#271818 100%);}
.newbeekeengaming{background: linear-gradient(135deg,#271818 0%,#271818 50%,#7b4e94 50%,#7b4e94 100%);}
.newbeeteamliquid{background: linear-gradient(135deg,#271818 0%,#271818 50%,#FFFFFF 50%,#FFFFFF 100%);}
.newbeealliance{background: linear-gradient(135deg,#271818 0%,#271818 50%,#08783e 50%,#08783e 100%);}
.newbeeteamsecret{background: linear-gradient(135deg,#271818 0%,#271818 50%,#000000 50%,#000000 100%);}
.newbeeninjasinpyjamas{background: linear-gradient(135deg,#271818 0%,#271818 50%,#a88b65 50%,#a88b65 100%);}
.newbeenavi{background: linear-gradient(135deg,#271818 0%,#271818 50%,#fff200 50%,#fff200 100%);}
.newbeeevilgeniuses{background: linear-gradient(135deg,#271818 0%,#271818 50%,#202d5a 50%,#202d5a 100%);}
.newbeevirtuspro{background: linear-gradient(135deg,#271818 0%,#271818 50%,#111821 50%,#111821 100%);}
.newbeerng{background: linear-gradient(135deg,#271818 0%,#271818 50%,#FFFFFF 50%,#FFFFFF 100%);}
.newbeechaos{background: linear-gradient(135deg,#271818 0%,#271818 50%,#000000 50%,#000000 100%);}
.newbeepsglgd{background: linear-gradient(135deg,#271818 0%,#271818 50%,#2a8ec1 50%,#2a8ec1 100%);}
.newbeeog{background: linear-gradient(135deg,#271818 0%,#271818 50%,#022554 50%,#022554 100%);}
.newbeetncpredator{background: linear-gradient(135deg,#271818 0%,#271818 50%,#f26925 50%,#f26925 100%);}
.newbeeforwardgaming{background: linear-gradient(135deg,#271818 0%,#271818 50%,#d60b66 50%,#d60b66 100%);}
.newbeemineski{background: linear-gradient(135deg,#271818 0%,#271818 50%,#3a3a3c 50%,#3a3a3c 100%);}
.newbeevicigaming{background: linear-gradient(135deg,#271818 0%,#271818 50%,#c5c6c6 50%,#c5c6c6 100%);}
.newbeefnatic{background: linear-gradient(135deg,#271818 0%,#271818 50%,#000000 50%,#000000 100%);}
.newbeeinfamous{background: linear-gradient(135deg,#271818 0%,#271818 50%,#a8120e 50%,#a8120e 100%);}
.keengamingnewbee{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#271818 50%,#271818 100%);}
.keengamingkeengaming{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#7b4e94 50%,#7b4e94 100%);}
.keengamingteamliquid{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#FFFFFF 50%,#FFFFFF 100%);}
.keengamingalliance{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#08783e 50%,#08783e 100%);}
.keengamingteamsecret{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#000000 50%,#000000 100%);}
.keengamingninjasinpyjamas{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#a88b65 50%,#a88b65 100%);}
.keengamingnavi{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#fff200 50%,#fff200 100%);}
.keengamingevilgeniuses{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#202d5a 50%,#202d5a 100%);}
.keengamingvirtuspro{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#111821 50%,#111821 100%);}
.keengamingrng{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#FFFFFF 50%,#FFFFFF 100%);}
.keengamingchaos{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#000000 50%,#000000 100%);}
.keengamingpsglgd{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#2a8ec1 50%,#2a8ec1 100%);}
.keengamingog{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#022554 50%,#022554 100%);}
.keengamingtncpredator{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#f26925 50%,#f26925 100%);}
.keengamingforwardgaming{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#d60b66 50%,#d60b66 100%);}
.keengamingmineski{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#3a3a3c 50%,#3a3a3c 100%);}
.keengamingvicigaming{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#c5c6c6 50%,#c5c6c6 100%);}
.keengamingfnatic{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#000000 50%,#000000 100%);}
.keengaminginfamous{background: linear-gradient(135deg,#7b4e94 0%,#7b4e94 50%,#a8120e 50%,#a8120e 100%);}
.teamliquidnewbee{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#271818 50%,#271818 100%);}
.teamliquidkeengaming{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#7b4e94 50%,#7b4e94 100%);}
.teamliquidteamliquid{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FFFFFF 50%,#FFFFFF 100%);}
.teamliquidalliance{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#08783e 50%,#08783e 100%);}
.teamliquidteamsecret{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#000000 50%,#000000 100%);}
.teamliquidninjasinpyjamas{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#a88b65 50%,#a88b65 100%);}
.teamliquidnavi{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#fff200 50%,#fff200 100%);}
.teamliquidevilgeniuses{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#202d5a 50%,#202d5a 100%);}
.teamliquidvirtuspro{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#111821 50%,#111821 100%);}
.teamliquidrng{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FFFFFF 50%,#FFFFFF 100%);}
.teamliquidchaos{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#000000 50%,#000000 100%);}
.teamliquidpsglgd{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#2a8ec1 50%,#2a8ec1 100%);}
.teamliquidog{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#022554 50%,#022554 100%);}
.teamliquidtncpredator{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#f26925 50%,#f26925 100%);}
.teamliquidforwardgaming{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#d60b66 50%,#d60b66 100%);}
.teamliquidmineski{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#3a3a3c 50%,#3a3a3c 100%);}
.teamliquidvicigaming{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#c5c6c6 50%,#c5c6c6 100%);}
.teamliquidfnatic{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#000000 50%,#000000 100%);}
.teamliquidinfamous{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#a8120e 50%,#a8120e 100%);}
.alliancenewbee{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#271818 50%,#271818 100%);}
.alliancekeengaming{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#7b4e94 50%,#7b4e94 100%);}
.allianceteamliquid{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#FFFFFF 50%,#FFFFFF 100%);}
.alliancealliance{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#08783e 50%,#08783e 100%);}
.allianceteamsecret{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#000000 50%,#000000 100%);}
.allianceninjasinpyjamas{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#a88b65 50%,#a88b65 100%);}
.alliancenavi{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#fff200 50%,#fff200 100%);}
.allianceevilgeniuses{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#202d5a 50%,#202d5a 100%);}
.alliancevirtuspro{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#111821 50%,#111821 100%);}
.alliancerng{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#FFFFFF 50%,#FFFFFF 100%);}
.alliancechaos{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#000000 50%,#000000 100%);}
.alliancepsglgd{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#2a8ec1 50%,#2a8ec1 100%);}
.allianceog{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#022554 50%,#022554 100%);}
.alliancetncpredator{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#f26925 50%,#f26925 100%);}
.allianceforwardgaming{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#d60b66 50%,#d60b66 100%);}
.alliancemineski{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#3a3a3c 50%,#3a3a3c 100%);}
.alliancevicigaming{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#c5c6c6 50%,#c5c6c6 100%);}
.alliancefnatic{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#000000 50%,#000000 100%);}
.allianceinfamous{background: linear-gradient(135deg,#08783e 0%,#08783e 50%,#a8120e 50%,#a8120e 100%);}
.teamsecretnewbee{background: linear-gradient(135deg,#000000 0%,#000000 50%,#271818 50%,#271818 100%);}
.teamsecretkeengaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#7b4e94 50%,#7b4e94 100%);}
.teamsecretteamliquid{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FFFFFF 50%,#FFFFFF 100%);}
.teamsecretalliance{background: linear-gradient(135deg,#000000 0%,#000000 50%,#08783e 50%,#08783e 100%);}
.teamsecretteamsecret{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.teamsecretninjasinpyjamas{background: linear-gradient(135deg,#000000 0%,#000000 50%,#a88b65 50%,#a88b65 100%);}
.teamsecretnavi{background: linear-gradient(135deg,#000000 0%,#000000 50%,#fff200 50%,#fff200 100%);}
.teamsecretevilgeniuses{background: linear-gradient(135deg,#000000 0%,#000000 50%,#202d5a 50%,#202d5a 100%);}
.teamsecretvirtuspro{background: linear-gradient(135deg,#000000 0%,#000000 50%,#111821 50%,#111821 100%);}
.teamsecretrng{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FFFFFF 50%,#FFFFFF 100%);}
.teamsecretchaos{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.teamsecretpsglgd{background: linear-gradient(135deg,#000000 0%,#000000 50%,#2a8ec1 50%,#2a8ec1 100%);}
.teamsecretog{background: linear-gradient(135deg,#000000 0%,#000000 50%,#022554 50%,#022554 100%);}
.teamsecrettncpredator{background: linear-gradient(135deg,#000000 0%,#000000 50%,#f26925 50%,#f26925 100%);}
.teamsecretforwardgaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#d60b66 50%,#d60b66 100%);}
.teamsecretmineski{background: linear-gradient(135deg,#000000 0%,#000000 50%,#3a3a3c 50%,#3a3a3c 100%);}
.teamsecretvicigaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#c5c6c6 50%,#c5c6c6 100%);}
.teamsecretfnatic{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.teamsecretinfamous{background: linear-gradient(135deg,#000000 0%,#000000 50%,#a8120e 50%,#a8120e 100%);}
.ninjasinpyjamasnewbee{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#271818 50%,#271818 100%);}
.ninjasinpyjamaskeengaming{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#7b4e94 50%,#7b4e94 100%);}
.ninjasinpyjamasteamliquid{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#FFFFFF 50%,#FFFFFF 100%);}
.ninjasinpyjamasalliance{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#08783e 50%,#08783e 100%);}
.ninjasinpyjamasteamsecret{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#000000 50%,#000000 100%);}
.ninjasinpyjamasninjasinpyjamas{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#a88b65 50%,#a88b65 100%);}
.ninjasinpyjamasnavi{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#fff200 50%,#fff200 100%);}
.ninjasinpyjamasevilgeniuses{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#202d5a 50%,#202d5a 100%);}
.ninjasinpyjamasvirtuspro{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#111821 50%,#111821 100%);}
.ninjasinpyjamasrng{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#FFFFFF 50%,#FFFFFF 100%);}
.ninjasinpyjamaschaos{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#000000 50%,#000000 100%);}
.ninjasinpyjamaspsglgd{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#2a8ec1 50%,#2a8ec1 100%);}
.ninjasinpyjamasog{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#022554 50%,#022554 100%);}
.ninjasinpyjamastncpredator{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#f26925 50%,#f26925 100%);}
.ninjasinpyjamasforwardgaming{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#d60b66 50%,#d60b66 100%);}
.ninjasinpyjamasmineski{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#3a3a3c 50%,#3a3a3c 100%);}
.ninjasinpyjamasvicigaming{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#c5c6c6 50%,#c5c6c6 100%);}
.ninjasinpyjamasfnatic{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#000000 50%,#000000 100%);}
.ninjasinpyjamasinfamous{background: linear-gradient(135deg,#a88b65 0%,#a88b65 50%,#a8120e 50%,#a8120e 100%);}
.navinewbee{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#271818 50%,#271818 100%);}
.navikeengaming{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#7b4e94 50%,#7b4e94 100%);}
.naviteamliquid{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#FFFFFF 50%,#FFFFFF 100%);}
.navialliance{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#08783e 50%,#08783e 100%);}
.naviteamsecret{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#000000 50%,#000000 100%);}
.navininjasinpyjamas{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#a88b65 50%,#a88b65 100%);}
.navinavi{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#fff200 50%,#fff200 100%);}
.navievilgeniuses{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#202d5a 50%,#202d5a 100%);}
.navivirtuspro{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#111821 50%,#111821 100%);}
.navirng{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#FFFFFF 50%,#FFFFFF 100%);}
.navichaos{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#000000 50%,#000000 100%);}
.navipsglgd{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#2a8ec1 50%,#2a8ec1 100%);}
.naviog{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#022554 50%,#022554 100%);}
.navitncpredator{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#f26925 50%,#f26925 100%);}
.naviforwardgaming{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#d60b66 50%,#d60b66 100%);}
.navimineski{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#3a3a3c 50%,#3a3a3c 100%);}
.navivicigaming{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#c5c6c6 50%,#c5c6c6 100%);}
.navifnatic{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#000000 50%,#000000 100%);}
.naviinfamous{background: linear-gradient(135deg,#fff200 0%,#fff200 50%,#a8120e 50%,#a8120e 100%);}
.evilgeniusesnewbee{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#271818 50%,#271818 100%);}
.evilgeniuseskeengaming{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#7b4e94 50%,#7b4e94 100%);}
.evilgeniusesteamliquid{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#FFFFFF 50%,#FFFFFF 100%);}
.evilgeniusesalliance{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#08783e 50%,#08783e 100%);}
.evilgeniusesteamsecret{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#000000 50%,#000000 100%);}
.evilgeniusesninjasinpyjamas{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#a88b65 50%,#a88b65 100%);}
.evilgeniusesnavi{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#fff200 50%,#fff200 100%);}
.evilgeniusesevilgeniuses{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#202d5a 50%,#202d5a 100%);}
.evilgeniusesvirtuspro{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#111821 50%,#111821 100%);}
.evilgeniusesrng{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#FFFFFF 50%,#FFFFFF 100%);}
.evilgeniuseschaos{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#000000 50%,#000000 100%);}
.evilgeniusespsglgd{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#2a8ec1 50%,#2a8ec1 100%);}
.evilgeniusesog{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#022554 50%,#022554 100%);}
.evilgeniusestncpredator{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#f26925 50%,#f26925 100%);}
.evilgeniusesforwardgaming{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#d60b66 50%,#d60b66 100%);}
.evilgeniusesmineski{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#3a3a3c 50%,#3a3a3c 100%);}
.evilgeniusesvicigaming{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#c5c6c6 50%,#c5c6c6 100%);}
.evilgeniusesfnatic{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#000000 50%,#000000 100%);}
.evilgeniusesinfamous{background: linear-gradient(135deg,#202d5a 0%,#202d5a 50%,#a8120e 50%,#a8120e 100%);}
.virtuspronewbee{background: linear-gradient(135deg,#111821 0%,#111821 50%,#271818 50%,#271818 100%);}
.virtusprokeengaming{background: linear-gradient(135deg,#111821 0%,#111821 50%,#7b4e94 50%,#7b4e94 100%);}
.virtusproteamliquid{background: linear-gradient(135deg,#111821 0%,#111821 50%,#FFFFFF 50%,#FFFFFF 100%);}
.virtusproalliance{background: linear-gradient(135deg,#111821 0%,#111821 50%,#08783e 50%,#08783e 100%);}
.virtusproteamsecret{background: linear-gradient(135deg,#111821 0%,#111821 50%,#000000 50%,#000000 100%);}
.virtusproninjasinpyjamas{background: linear-gradient(135deg,#111821 0%,#111821 50%,#a88b65 50%,#a88b65 100%);}
.virtuspronavi{background: linear-gradient(135deg,#111821 0%,#111821 50%,#fff200 50%,#fff200 100%);}
.virtusproevilgeniuses{background: linear-gradient(135deg,#111821 0%,#111821 50%,#202d5a 50%,#202d5a 100%);}
.virtusprovirtuspro{background: linear-gradient(135deg,#111821 0%,#111821 50%,#111821 50%,#111821 100%);}
.virtusprorng{background: linear-gradient(135deg,#111821 0%,#111821 50%,#FFFFFF 50%,#FFFFFF 100%);}
.virtusprochaos{background: linear-gradient(135deg,#111821 0%,#111821 50%,#000000 50%,#000000 100%);}
.virtuspropsglgd{background: linear-gradient(135deg,#111821 0%,#111821 50%,#2a8ec1 50%,#2a8ec1 100%);}
.virtusproog{background: linear-gradient(135deg,#111821 0%,#111821 50%,#022554 50%,#022554 100%);}
.virtusprotncpredator{background: linear-gradient(135deg,#111821 0%,#111821 50%,#f26925 50%,#f26925 100%);}
.virtusproforwardgaming{background: linear-gradient(135deg,#111821 0%,#111821 50%,#d60b66 50%,#d60b66 100%);}
.virtuspromineski{background: linear-gradient(135deg,#111821 0%,#111821 50%,#3a3a3c 50%,#3a3a3c 100%);}
.virtusprovicigaming{background: linear-gradient(135deg,#111821 0%,#111821 50%,#c5c6c6 50%,#c5c6c6 100%);}
.virtusprofnatic{background: linear-gradient(135deg,#111821 0%,#111821 50%,#000000 50%,#000000 100%);}
.virtusproinfamous{background: linear-gradient(135deg,#111821 0%,#111821 50%,#a8120e 50%,#a8120e 100%);}
.rngnewbee{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#271818 50%,#271818 100%);}
.rngkeengaming{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#7b4e94 50%,#7b4e94 100%);}
.rngteamliquid{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FFFFFF 50%,#FFFFFF 100%);}
.rngalliance{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#08783e 50%,#08783e 100%);}
.rngteamsecret{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#000000 50%,#000000 100%);}
.rngninjasinpyjamas{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#a88b65 50%,#a88b65 100%);}
.rngnavi{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#fff200 50%,#fff200 100%);}
.rngevilgeniuses{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#202d5a 50%,#202d5a 100%);}
.rngvirtuspro{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#111821 50%,#111821 100%);}
.rngrng{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FFFFFF 50%,#FFFFFF 100%);}
.rngchaos{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#000000 50%,#000000 100%);}
.rngpsglgd{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#2a8ec1 50%,#2a8ec1 100%);}
.rngog{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#022554 50%,#022554 100%);}
.rngtncpredator{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#f26925 50%,#f26925 100%);}
.rngforwardgaming{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#d60b66 50%,#d60b66 100%);}
.rngmineski{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#3a3a3c 50%,#3a3a3c 100%);}
.rngvicigaming{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#c5c6c6 50%,#c5c6c6 100%);}
.rngfnatic{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#000000 50%,#000000 100%);}
.rnginfamous{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#a8120e 50%,#a8120e 100%);}
.chaosnewbee{background: linear-gradient(135deg,#000000 0%,#000000 50%,#271818 50%,#271818 100%);}
.chaoskeengaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#7b4e94 50%,#7b4e94 100%);}
.chaosteamliquid{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FFFFFF 50%,#FFFFFF 100%);}
.chaosalliance{background: linear-gradient(135deg,#000000 0%,#000000 50%,#08783e 50%,#08783e 100%);}
.chaosteamsecret{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.chaosninjasinpyjamas{background: linear-gradient(135deg,#000000 0%,#000000 50%,#a88b65 50%,#a88b65 100%);}
.chaosnavi{background: linear-gradient(135deg,#000000 0%,#000000 50%,#fff200 50%,#fff200 100%);}
.chaosevilgeniuses{background: linear-gradient(135deg,#000000 0%,#000000 50%,#202d5a 50%,#202d5a 100%);}
.chaosvirtuspro{background: linear-gradient(135deg,#000000 0%,#000000 50%,#111821 50%,#111821 100%);}
.chaosrng{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FFFFFF 50%,#FFFFFF 100%);}
.chaoschaos{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.chaospsglgd{background: linear-gradient(135deg,#000000 0%,#000000 50%,#2a8ec1 50%,#2a8ec1 100%);}
.chaosog{background: linear-gradient(135deg,#000000 0%,#000000 50%,#022554 50%,#022554 100%);}
.chaostncpredator{background: linear-gradient(135deg,#000000 0%,#000000 50%,#f26925 50%,#f26925 100%);}
.chaosforwardgaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#d60b66 50%,#d60b66 100%);}
.chaosmineski{background: linear-gradient(135deg,#000000 0%,#000000 50%,#3a3a3c 50%,#3a3a3c 100%);}
.chaosvicigaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#c5c6c6 50%,#c5c6c6 100%);}
.chaosfnatic{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.chaosinfamous{background: linear-gradient(135deg,#000000 0%,#000000 50%,#a8120e 50%,#a8120e 100%);}
.psglgdnewbee{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#271818 50%,#271818 100%);}
.psglgdkeengaming{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#7b4e94 50%,#7b4e94 100%);}
.psglgdteamliquid{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#FFFFFF 50%,#FFFFFF 100%);}
.psglgdalliance{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#08783e 50%,#08783e 100%);}
.psglgdteamsecret{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#000000 50%,#000000 100%);}
.psglgdninjasinpyjamas{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#a88b65 50%,#a88b65 100%);}
.psglgdnavi{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#fff200 50%,#fff200 100%);}
.psglgdevilgeniuses{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#202d5a 50%,#202d5a 100%);}
.psglgdvirtuspro{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#111821 50%,#111821 100%);}
.psglgdrng{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#FFFFFF 50%,#FFFFFF 100%);}
.psglgdchaos{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#000000 50%,#000000 100%);}
.psglgdpsglgd{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#2a8ec1 50%,#2a8ec1 100%);}
.psglgdog{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#022554 50%,#022554 100%);}
.psglgdtncpredator{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#f26925 50%,#f26925 100%);}
.psglgdforwardgaming{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#d60b66 50%,#d60b66 100%);}
.psglgdmineski{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#3a3a3c 50%,#3a3a3c 100%);}
.psglgdvicigaming{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#c5c6c6 50%,#c5c6c6 100%);}
.psglgdfnatic{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#000000 50%,#000000 100%);}
.psglgdinfamous{background: linear-gradient(135deg,#2a8ec1 0%,#2a8ec1 50%,#a8120e 50%,#a8120e 100%);}
.ognewbee{background: linear-gradient(135deg,#022554 0%,#022554 50%,#271818 50%,#271818 100%);}
.ogkeengaming{background: linear-gradient(135deg,#022554 0%,#022554 50%,#7b4e94 50%,#7b4e94 100%);}
.ogteamliquid{background: linear-gradient(135deg,#022554 0%,#022554 50%,#FFFFFF 50%,#FFFFFF 100%);}
.ogalliance{background: linear-gradient(135deg,#022554 0%,#022554 50%,#08783e 50%,#08783e 100%);}
.ogteamsecret{background: linear-gradient(135deg,#022554 0%,#022554 50%,#000000 50%,#000000 100%);}
.ogninjasinpyjamas{background: linear-gradient(135deg,#022554 0%,#022554 50%,#a88b65 50%,#a88b65 100%);}
.ognavi{background: linear-gradient(135deg,#022554 0%,#022554 50%,#fff200 50%,#fff200 100%);}
.ogevilgeniuses{background: linear-gradient(135deg,#022554 0%,#022554 50%,#202d5a 50%,#202d5a 100%);}
.ogvirtuspro{background: linear-gradient(135deg,#022554 0%,#022554 50%,#111821 50%,#111821 100%);}
.ogrng{background: linear-gradient(135deg,#022554 0%,#022554 50%,#FFFFFF 50%,#FFFFFF 100%);}
.ogchaos{background: linear-gradient(135deg,#022554 0%,#022554 50%,#000000 50%,#000000 100%);}
.ogpsglgd{background: linear-gradient(135deg,#022554 0%,#022554 50%,#2a8ec1 50%,#2a8ec1 100%);}
.ogog{background: linear-gradient(135deg,#022554 0%,#022554 50%,#022554 50%,#022554 100%);}
.ogtncpredator{background: linear-gradient(135deg,#022554 0%,#022554 50%,#f26925 50%,#f26925 100%);}
.ogforwardgaming{background: linear-gradient(135deg,#022554 0%,#022554 50%,#d60b66 50%,#d60b66 100%);}
.ogmineski{background: linear-gradient(135deg,#022554 0%,#022554 50%,#3a3a3c 50%,#3a3a3c 100%);}
.ogvicigaming{background: linear-gradient(135deg,#022554 0%,#022554 50%,#c5c6c6 50%,#c5c6c6 100%);}
.ogfnatic{background: linear-gradient(135deg,#022554 0%,#022554 50%,#000000 50%,#000000 100%);}
.oginfamous{background: linear-gradient(135deg,#022554 0%,#022554 50%,#a8120e 50%,#a8120e 100%);}
.tncpredatornewbee{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#271818 50%,#271818 100%);}
.tncpredatorkeengaming{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#7b4e94 50%,#7b4e94 100%);}
.tncpredatorteamliquid{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#FFFFFF 50%,#FFFFFF 100%);}
.tncpredatoralliance{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#08783e 50%,#08783e 100%);}
.tncpredatorteamsecret{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#000000 50%,#000000 100%);}
.tncpredatorninjasinpyjamas{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#a88b65 50%,#a88b65 100%);}
.tncpredatornavi{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#fff200 50%,#fff200 100%);}
.tncpredatorevilgeniuses{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#202d5a 50%,#202d5a 100%);}
.tncpredatorvirtuspro{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#111821 50%,#111821 100%);}
.tncpredatorrng{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#FFFFFF 50%,#FFFFFF 100%);}
.tncpredatorchaos{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#000000 50%,#000000 100%);}
.tncpredatorpsglgd{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#2a8ec1 50%,#2a8ec1 100%);}
.tncpredatorog{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#022554 50%,#022554 100%);}
.tncpredatortncpredator{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#f26925 50%,#f26925 100%);}
.tncpredatorforwardgaming{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#d60b66 50%,#d60b66 100%);}
.tncpredatormineski{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#3a3a3c 50%,#3a3a3c 100%);}
.tncpredatorvicigaming{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#c5c6c6 50%,#c5c6c6 100%);}
.tncpredatorfnatic{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#000000 50%,#000000 100%);}
.tncpredatorinfamous{background: linear-gradient(135deg,#f26925 0%,#f26925 50%,#a8120e 50%,#a8120e 100%);}
.forwardgamingnewbee{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#271818 50%,#271818 100%);}
.forwardgamingkeengaming{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#7b4e94 50%,#7b4e94 100%);}
.forwardgamingteamliquid{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#FFFFFF 50%,#FFFFFF 100%);}
.forwardgamingalliance{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#08783e 50%,#08783e 100%);}
.forwardgamingteamsecret{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#000000 50%,#000000 100%);}
.forwardgamingninjasinpyjamas{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#a88b65 50%,#a88b65 100%);}
.forwardgamingnavi{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#fff200 50%,#fff200 100%);}
.forwardgamingevilgeniuses{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#202d5a 50%,#202d5a 100%);}
.forwardgamingvirtuspro{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#111821 50%,#111821 100%);}
.forwardgamingrng{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#FFFFFF 50%,#FFFFFF 100%);}
.forwardgamingchaos{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#000000 50%,#000000 100%);}
.forwardgamingpsglgd{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#2a8ec1 50%,#2a8ec1 100%);}
.forwardgamingog{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#022554 50%,#022554 100%);}
.forwardgamingtncpredator{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#f26925 50%,#f26925 100%);}
.forwardgamingforwardgaming{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#d60b66 50%,#d60b66 100%);}
.forwardgamingmineski{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#3a3a3c 50%,#3a3a3c 100%);}
.forwardgamingvicigaming{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#c5c6c6 50%,#c5c6c6 100%);}
.forwardgamingfnatic{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#000000 50%,#000000 100%);}
.forwardgaminginfamous{background: linear-gradient(135deg,#d60b66 0%,#d60b66 50%,#a8120e 50%,#a8120e 100%);}
.mineskinewbee{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#271818 50%,#271818 100%);}
.mineskikeengaming{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#7b4e94 50%,#7b4e94 100%);}
.mineskiteamliquid{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#FFFFFF 50%,#FFFFFF 100%);}
.mineskialliance{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#08783e 50%,#08783e 100%);}
.mineskiteamsecret{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#000000 50%,#000000 100%);}
.mineskininjasinpyjamas{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#a88b65 50%,#a88b65 100%);}
.mineskinavi{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#fff200 50%,#fff200 100%);}
.mineskievilgeniuses{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#202d5a 50%,#202d5a 100%);}
.mineskivirtuspro{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#111821 50%,#111821 100%);}
.mineskirng{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#FFFFFF 50%,#FFFFFF 100%);}
.mineskichaos{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#000000 50%,#000000 100%);}
.mineskipsglgd{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#2a8ec1 50%,#2a8ec1 100%);}
.mineskiog{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#022554 50%,#022554 100%);}
.mineskitncpredator{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#f26925 50%,#f26925 100%);}
.mineskiforwardgaming{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#d60b66 50%,#d60b66 100%);}
.mineskimineski{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#3a3a3c 50%,#3a3a3c 100%);}
.mineskivicigaming{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#c5c6c6 50%,#c5c6c6 100%);}
.mineskifnatic{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#000000 50%,#000000 100%);}
.mineskiinfamous{background: linear-gradient(135deg,#3a3a3c 0%,#3a3a3c 50%,#a8120e 50%,#a8120e 100%);}
.vicigamingnewbee{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#271818 50%,#271818 100%);}
.vicigamingkeengaming{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#7b4e94 50%,#7b4e94 100%);}
.vicigamingteamliquid{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#FFFFFF 50%,#FFFFFF 100%);}
.vicigamingalliance{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#08783e 50%,#08783e 100%);}
.vicigamingteamsecret{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#000000 50%,#000000 100%);}
.vicigamingninjasinpyjamas{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#a88b65 50%,#a88b65 100%);}
.vicigamingnavi{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#fff200 50%,#fff200 100%);}
.vicigamingevilgeniuses{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#202d5a 50%,#202d5a 100%);}
.vicigamingvirtuspro{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#111821 50%,#111821 100%);}
.vicigamingrng{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#FFFFFF 50%,#FFFFFF 100%);}
.vicigamingchaos{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#000000 50%,#000000 100%);}
.vicigamingpsglgd{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#2a8ec1 50%,#2a8ec1 100%);}
.vicigamingog{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#022554 50%,#022554 100%);}
.vicigamingtncpredator{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#f26925 50%,#f26925 100%);}
.vicigamingforwardgaming{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#d60b66 50%,#d60b66 100%);}
.vicigamingmineski{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#3a3a3c 50%,#3a3a3c 100%);}
.vicigamingvicigaming{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#c5c6c6 50%,#c5c6c6 100%);}
.vicigamingfnatic{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#000000 50%,#000000 100%);}
.vicigaminginfamous{background: linear-gradient(135deg,#c5c6c6 0%,#c5c6c6 50%,#a8120e 50%,#a8120e 100%);}
.fnaticnewbee{background: linear-gradient(135deg,#000000 0%,#000000 50%,#271818 50%,#271818 100%);}
.fnatickeengaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#7b4e94 50%,#7b4e94 100%);}
.fnaticteamliquid{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FFFFFF 50%,#FFFFFF 100%);}
.fnaticalliance{background: linear-gradient(135deg,#000000 0%,#000000 50%,#08783e 50%,#08783e 100%);}
.fnaticteamsecret{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.fnaticninjasinpyjamas{background: linear-gradient(135deg,#000000 0%,#000000 50%,#a88b65 50%,#a88b65 100%);}
.fnaticnavi{background: linear-gradient(135deg,#000000 0%,#000000 50%,#fff200 50%,#fff200 100%);}
.fnaticevilgeniuses{background: linear-gradient(135deg,#000000 0%,#000000 50%,#202d5a 50%,#202d5a 100%);}
.fnaticvirtuspro{background: linear-gradient(135deg,#000000 0%,#000000 50%,#111821 50%,#111821 100%);}
.fnaticrng{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FFFFFF 50%,#FFFFFF 100%);}
.fnaticchaos{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.fnaticpsglgd{background: linear-gradient(135deg,#000000 0%,#000000 50%,#2a8ec1 50%,#2a8ec1 100%);}
.fnaticog{background: linear-gradient(135deg,#000000 0%,#000000 50%,#022554 50%,#022554 100%);}
.fnatictncpredator{background: linear-gradient(135deg,#000000 0%,#000000 50%,#f26925 50%,#f26925 100%);}
.fnaticforwardgaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#d60b66 50%,#d60b66 100%);}
.fnaticmineski{background: linear-gradient(135deg,#000000 0%,#000000 50%,#3a3a3c 50%,#3a3a3c 100%);}
.fnaticvicigaming{background: linear-gradient(135deg,#000000 0%,#000000 50%,#c5c6c6 50%,#c5c6c6 100%);}
.fnaticfnatic{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.fnaticinfamous{background: linear-gradient(135deg,#000000 0%,#000000 50%,#a8120e 50%,#a8120e 100%);}
.infamousnewbee{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#271818 50%,#271818 100%);}
.infamouskeengaming{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#7b4e94 50%,#7b4e94 100%);}
.infamousteamliquid{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#FFFFFF 50%,#FFFFFF 100%);}
.infamousalliance{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#08783e 50%,#08783e 100%);}
.infamousteamsecret{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#000000 50%,#000000 100%);}
.infamousninjasinpyjamas{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#a88b65 50%,#a88b65 100%);}
.infamousnavi{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#fff200 50%,#fff200 100%);}
.infamousevilgeniuses{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#202d5a 50%,#202d5a 100%);}
.infamousvirtuspro{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#111821 50%,#111821 100%);}
.infamousrng{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#FFFFFF 50%,#FFFFFF 100%);}
.infamouschaos{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#000000 50%,#000000 100%);}
.infamouspsglgd{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#2a8ec1 50%,#2a8ec1 100%);}
.infamousog{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#022554 50%,#022554 100%);}
.infamoustncpredator{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#f26925 50%,#f26925 100%);}
.infamousforwardgaming{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#d60b66 50%,#d60b66 100%);}
.infamousmineski{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#3a3a3c 50%,#3a3a3c 100%);}
.infamousvicigaming{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#c5c6c6 50%,#c5c6c6 100%);}
.infamousfnatic{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#000000 50%,#000000 100%);}
.infamousinfamous{background: linear-gradient(135deg,#a8120e 0%,#a8120e 50%,#a8120e 50%,#a8120e 100%);}