.manchestercity{color: #1C2C5B;background-color: #6CABDD;}
.manchesterutd{color: #FBE122;background-color: #DA291C;}
.liverpool{color: #F6EB61;background-color: #c8102E;}
.southampton{color: #FFFFFF;background-color: #d71920;}
.leicester{color: #fdbe11;background-color: #003090;}
.sheffieldutd{color: #ec2227;background-color: #FFFFFF;}
.norwich{color: #ffee00;background-color: #007020;}
.burnley{color: #EDE939;background-color: #6C1D45;}
.arsenal{color: #FFFFFF;background-color: #EF0107;}
.westham{color: #1bb1e7;background-color: #7A263A;}
.bournemouth{color: #b50e12;background-color: #000000;}
.brightonhovealbion{color: #FFFFFF;background-color: #0057B8;}
.astonvilla{color: #850322;background-color: #88bbff;}
.watford{color: #ED2127;background-color: #FBEE23;}
.newcastle{color: #FFFFFF;background-color: #241F20;}
.everton{color: #003399;background-color: #FFFFFF;}
.wolves{color: #231F20;background-color: #FDB913;}
.crystalpalace{color: #123064;background-color: #CF4157;}
.chelsea{color: #FFFFFF;background-color: #034694;}
.tottenham{color: #FFFFFF;background-color: #132257;}
.manchestercitymanchestercity{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#6CABDD 50%,#6CABDD 100%);}
.manchestercitymanchesterutd{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#DA291C 50%,#DA291C 100%);}
.manchestercityliverpool{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#c8102E 50%,#c8102E 100%);}
.manchestercitysouthampton{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#d71920 50%,#d71920 100%);}
.manchestercityleicester{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#003090 50%,#003090 100%);}
.manchestercitysheffieldutd{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#FFFFFF 50%,#FFFFFF 100%);}
.manchestercitynorwich{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#007020 50%,#007020 100%);}
.manchestercityburnley{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#6C1D45 50%,#6C1D45 100%);}
.manchestercityarsenal{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#EF0107 50%,#EF0107 100%);}
.manchestercitywestham{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#7A263A 50%,#7A263A 100%);}
.manchestercitybournemouth{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#000000 50%,#000000 100%);}
.manchestercitybrightonhovealbion{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#0057B8 50%,#0057B8 100%);}
.manchestercityastonvilla{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#88bbff 50%,#88bbff 100%);}
.manchestercitywatford{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#FBEE23 50%,#FBEE23 100%);}
.manchestercitynewcastle{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#241F20 50%,#241F20 100%);}
.manchestercityeverton{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#FFFFFF 50%,#FFFFFF 100%);}
.manchestercitywolves{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#FDB913 50%,#FDB913 100%);}
.manchestercitycrystalpalace{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#CF4157 50%,#CF4157 100%);}
.manchestercitychelsea{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#034694 50%,#034694 100%);}
.manchestercitytottenham{background: linear-gradient(135deg,#6CABDD 0%,#6CABDD 50%,#132257 50%,#132257 100%);}
.manchesterutdmanchestercity{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#6CABDD 50%,#6CABDD 100%);}
.manchesterutdmanchesterutd{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#DA291C 50%,#DA291C 100%);}
.manchesterutdliverpool{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#c8102E 50%,#c8102E 100%);}
.manchesterutdsouthampton{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#d71920 50%,#d71920 100%);}
.manchesterutdleicester{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#003090 50%,#003090 100%);}
.manchesterutdsheffieldutd{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#FFFFFF 50%,#FFFFFF 100%);}
.manchesterutdnorwich{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#007020 50%,#007020 100%);}
.manchesterutdburnley{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#6C1D45 50%,#6C1D45 100%);}
.manchesterutdarsenal{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#EF0107 50%,#EF0107 100%);}
.manchesterutdwestham{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#7A263A 50%,#7A263A 100%);}
.manchesterutdbournemouth{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#000000 50%,#000000 100%);}
.manchesterutdbrightonhovealbion{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#0057B8 50%,#0057B8 100%);}
.manchesterutdastonvilla{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#88bbff 50%,#88bbff 100%);}
.manchesterutdwatford{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#FBEE23 50%,#FBEE23 100%);}
.manchesterutdnewcastle{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#241F20 50%,#241F20 100%);}
.manchesterutdeverton{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#FFFFFF 50%,#FFFFFF 100%);}
.manchesterutdwolves{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#FDB913 50%,#FDB913 100%);}
.manchesterutdcrystalpalace{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#CF4157 50%,#CF4157 100%);}
.manchesterutdchelsea{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#034694 50%,#034694 100%);}
.manchesterutdtottenham{background: linear-gradient(135deg,#DA291C 0%,#DA291C 50%,#132257 50%,#132257 100%);}
.liverpoolmanchestercity{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#6CABDD 50%,#6CABDD 100%);}
.liverpoolmanchesterutd{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#DA291C 50%,#DA291C 100%);}
.liverpoolliverpool{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#c8102E 50%,#c8102E 100%);}
.liverpoolsouthampton{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#d71920 50%,#d71920 100%);}
.liverpoolleicester{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#003090 50%,#003090 100%);}
.liverpoolsheffieldutd{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#FFFFFF 50%,#FFFFFF 100%);}
.liverpoolnorwich{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#007020 50%,#007020 100%);}
.liverpoolburnley{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#6C1D45 50%,#6C1D45 100%);}
.liverpoolarsenal{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#EF0107 50%,#EF0107 100%);}
.liverpoolwestham{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#7A263A 50%,#7A263A 100%);}
.liverpoolbournemouth{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#000000 50%,#000000 100%);}
.liverpoolbrightonhovealbion{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#0057B8 50%,#0057B8 100%);}
.liverpoolastonvilla{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#88bbff 50%,#88bbff 100%);}
.liverpoolwatford{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#FBEE23 50%,#FBEE23 100%);}
.liverpoolnewcastle{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#241F20 50%,#241F20 100%);}
.liverpooleverton{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#FFFFFF 50%,#FFFFFF 100%);}
.liverpoolwolves{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#FDB913 50%,#FDB913 100%);}
.liverpoolcrystalpalace{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#CF4157 50%,#CF4157 100%);}
.liverpoolchelsea{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#034694 50%,#034694 100%);}
.liverpooltottenham{background: linear-gradient(135deg,#c8102E 0%,#c8102E 50%,#132257 50%,#132257 100%);}
.southamptonmanchestercity{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#6CABDD 50%,#6CABDD 100%);}
.southamptonmanchesterutd{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#DA291C 50%,#DA291C 100%);}
.southamptonliverpool{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#c8102E 50%,#c8102E 100%);}
.southamptonsouthampton{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#d71920 50%,#d71920 100%);}
.southamptonleicester{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#003090 50%,#003090 100%);}
.southamptonsheffieldutd{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#FFFFFF 50%,#FFFFFF 100%);}
.southamptonnorwich{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#007020 50%,#007020 100%);}
.southamptonburnley{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#6C1D45 50%,#6C1D45 100%);}
.southamptonarsenal{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#EF0107 50%,#EF0107 100%);}
.southamptonwestham{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#7A263A 50%,#7A263A 100%);}
.southamptonbournemouth{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#000000 50%,#000000 100%);}
.southamptonbrightonhovealbion{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#0057B8 50%,#0057B8 100%);}
.southamptonastonvilla{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#88bbff 50%,#88bbff 100%);}
.southamptonwatford{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#FBEE23 50%,#FBEE23 100%);}
.southamptonnewcastle{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#241F20 50%,#241F20 100%);}
.southamptoneverton{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#FFFFFF 50%,#FFFFFF 100%);}
.southamptonwolves{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#FDB913 50%,#FDB913 100%);}
.southamptoncrystalpalace{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#CF4157 50%,#CF4157 100%);}
.southamptonchelsea{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#034694 50%,#034694 100%);}
.southamptontottenham{background: linear-gradient(135deg,#d71920 0%,#d71920 50%,#132257 50%,#132257 100%);}
.leicestermanchestercity{background: linear-gradient(135deg,#003090 0%,#003090 50%,#6CABDD 50%,#6CABDD 100%);}
.leicestermanchesterutd{background: linear-gradient(135deg,#003090 0%,#003090 50%,#DA291C 50%,#DA291C 100%);}
.leicesterliverpool{background: linear-gradient(135deg,#003090 0%,#003090 50%,#c8102E 50%,#c8102E 100%);}
.leicestersouthampton{background: linear-gradient(135deg,#003090 0%,#003090 50%,#d71920 50%,#d71920 100%);}
.leicesterleicester{background: linear-gradient(135deg,#003090 0%,#003090 50%,#003090 50%,#003090 100%);}
.leicestersheffieldutd{background: linear-gradient(135deg,#003090 0%,#003090 50%,#FFFFFF 50%,#FFFFFF 100%);}
.leicesternorwich{background: linear-gradient(135deg,#003090 0%,#003090 50%,#007020 50%,#007020 100%);}
.leicesterburnley{background: linear-gradient(135deg,#003090 0%,#003090 50%,#6C1D45 50%,#6C1D45 100%);}
.leicesterarsenal{background: linear-gradient(135deg,#003090 0%,#003090 50%,#EF0107 50%,#EF0107 100%);}
.leicesterwestham{background: linear-gradient(135deg,#003090 0%,#003090 50%,#7A263A 50%,#7A263A 100%);}
.leicesterbournemouth{background: linear-gradient(135deg,#003090 0%,#003090 50%,#000000 50%,#000000 100%);}
.leicesterbrightonhovealbion{background: linear-gradient(135deg,#003090 0%,#003090 50%,#0057B8 50%,#0057B8 100%);}
.leicesterastonvilla{background: linear-gradient(135deg,#003090 0%,#003090 50%,#88bbff 50%,#88bbff 100%);}
.leicesterwatford{background: linear-gradient(135deg,#003090 0%,#003090 50%,#FBEE23 50%,#FBEE23 100%);}
.leicesternewcastle{background: linear-gradient(135deg,#003090 0%,#003090 50%,#241F20 50%,#241F20 100%);}
.leicestereverton{background: linear-gradient(135deg,#003090 0%,#003090 50%,#FFFFFF 50%,#FFFFFF 100%);}
.leicesterwolves{background: linear-gradient(135deg,#003090 0%,#003090 50%,#FDB913 50%,#FDB913 100%);}
.leicestercrystalpalace{background: linear-gradient(135deg,#003090 0%,#003090 50%,#CF4157 50%,#CF4157 100%);}
.leicesterchelsea{background: linear-gradient(135deg,#003090 0%,#003090 50%,#034694 50%,#034694 100%);}
.leicestertottenham{background: linear-gradient(135deg,#003090 0%,#003090 50%,#132257 50%,#132257 100%);}
.sheffieldutdmanchestercity{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#6CABDD 50%,#6CABDD 100%);}
.sheffieldutdmanchesterutd{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#DA291C 50%,#DA291C 100%);}
.sheffieldutdliverpool{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#c8102E 50%,#c8102E 100%);}
.sheffieldutdsouthampton{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#d71920 50%,#d71920 100%);}
.sheffieldutdleicester{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#003090 50%,#003090 100%);}
.sheffieldutdsheffieldutd{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FFFFFF 50%,#FFFFFF 100%);}
.sheffieldutdnorwich{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#007020 50%,#007020 100%);}
.sheffieldutdburnley{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#6C1D45 50%,#6C1D45 100%);}
.sheffieldutdarsenal{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#EF0107 50%,#EF0107 100%);}
.sheffieldutdwestham{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#7A263A 50%,#7A263A 100%);}
.sheffieldutdbournemouth{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#000000 50%,#000000 100%);}
.sheffieldutdbrightonhovealbion{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#0057B8 50%,#0057B8 100%);}
.sheffieldutdastonvilla{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#88bbff 50%,#88bbff 100%);}
.sheffieldutdwatford{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FBEE23 50%,#FBEE23 100%);}
.sheffieldutdnewcastle{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#241F20 50%,#241F20 100%);}
.sheffieldutdeverton{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FFFFFF 50%,#FFFFFF 100%);}
.sheffieldutdwolves{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FDB913 50%,#FDB913 100%);}
.sheffieldutdcrystalpalace{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#CF4157 50%,#CF4157 100%);}
.sheffieldutdchelsea{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#034694 50%,#034694 100%);}
.sheffieldutdtottenham{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#132257 50%,#132257 100%);}
.norwichmanchestercity{background: linear-gradient(135deg,#007020 0%,#007020 50%,#6CABDD 50%,#6CABDD 100%);}
.norwichmanchesterutd{background: linear-gradient(135deg,#007020 0%,#007020 50%,#DA291C 50%,#DA291C 100%);}
.norwichliverpool{background: linear-gradient(135deg,#007020 0%,#007020 50%,#c8102E 50%,#c8102E 100%);}
.norwichsouthampton{background: linear-gradient(135deg,#007020 0%,#007020 50%,#d71920 50%,#d71920 100%);}
.norwichleicester{background: linear-gradient(135deg,#007020 0%,#007020 50%,#003090 50%,#003090 100%);}
.norwichsheffieldutd{background: linear-gradient(135deg,#007020 0%,#007020 50%,#FFFFFF 50%,#FFFFFF 100%);}
.norwichnorwich{background: linear-gradient(135deg,#007020 0%,#007020 50%,#007020 50%,#007020 100%);}
.norwichburnley{background: linear-gradient(135deg,#007020 0%,#007020 50%,#6C1D45 50%,#6C1D45 100%);}
.norwicharsenal{background: linear-gradient(135deg,#007020 0%,#007020 50%,#EF0107 50%,#EF0107 100%);}
.norwichwestham{background: linear-gradient(135deg,#007020 0%,#007020 50%,#7A263A 50%,#7A263A 100%);}
.norwichbournemouth{background: linear-gradient(135deg,#007020 0%,#007020 50%,#000000 50%,#000000 100%);}
.norwichbrightonhovealbion{background: linear-gradient(135deg,#007020 0%,#007020 50%,#0057B8 50%,#0057B8 100%);}
.norwichastonvilla{background: linear-gradient(135deg,#007020 0%,#007020 50%,#88bbff 50%,#88bbff 100%);}
.norwichwatford{background: linear-gradient(135deg,#007020 0%,#007020 50%,#FBEE23 50%,#FBEE23 100%);}
.norwichnewcastle{background: linear-gradient(135deg,#007020 0%,#007020 50%,#241F20 50%,#241F20 100%);}
.norwicheverton{background: linear-gradient(135deg,#007020 0%,#007020 50%,#FFFFFF 50%,#FFFFFF 100%);}
.norwichwolves{background: linear-gradient(135deg,#007020 0%,#007020 50%,#FDB913 50%,#FDB913 100%);}
.norwichcrystalpalace{background: linear-gradient(135deg,#007020 0%,#007020 50%,#CF4157 50%,#CF4157 100%);}
.norwichchelsea{background: linear-gradient(135deg,#007020 0%,#007020 50%,#034694 50%,#034694 100%);}
.norwichtottenham{background: linear-gradient(135deg,#007020 0%,#007020 50%,#132257 50%,#132257 100%);}
.burnleymanchestercity{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#6CABDD 50%,#6CABDD 100%);}
.burnleymanchesterutd{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#DA291C 50%,#DA291C 100%);}
.burnleyliverpool{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#c8102E 50%,#c8102E 100%);}
.burnleysouthampton{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#d71920 50%,#d71920 100%);}
.burnleyleicester{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#003090 50%,#003090 100%);}
.burnleysheffieldutd{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#FFFFFF 50%,#FFFFFF 100%);}
.burnleynorwich{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#007020 50%,#007020 100%);}
.burnleyburnley{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#6C1D45 50%,#6C1D45 100%);}
.burnleyarsenal{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#EF0107 50%,#EF0107 100%);}
.burnleywestham{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#7A263A 50%,#7A263A 100%);}
.burnleybournemouth{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#000000 50%,#000000 100%);}
.burnleybrightonhovealbion{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#0057B8 50%,#0057B8 100%);}
.burnleyastonvilla{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#88bbff 50%,#88bbff 100%);}
.burnleywatford{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#FBEE23 50%,#FBEE23 100%);}
.burnleynewcastle{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#241F20 50%,#241F20 100%);}
.burnleyeverton{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#FFFFFF 50%,#FFFFFF 100%);}
.burnleywolves{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#FDB913 50%,#FDB913 100%);}
.burnleycrystalpalace{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#CF4157 50%,#CF4157 100%);}
.burnleychelsea{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#034694 50%,#034694 100%);}
.burnleytottenham{background: linear-gradient(135deg,#6C1D45 0%,#6C1D45 50%,#132257 50%,#132257 100%);}
.arsenalmanchestercity{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#6CABDD 50%,#6CABDD 100%);}
.arsenalmanchesterutd{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#DA291C 50%,#DA291C 100%);}
.arsenalliverpool{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#c8102E 50%,#c8102E 100%);}
.arsenalsouthampton{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#d71920 50%,#d71920 100%);}
.arsenalleicester{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#003090 50%,#003090 100%);}
.arsenalsheffieldutd{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#FFFFFF 50%,#FFFFFF 100%);}
.arsenalnorwich{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#007020 50%,#007020 100%);}
.arsenalburnley{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#6C1D45 50%,#6C1D45 100%);}
.arsenalarsenal{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#EF0107 50%,#EF0107 100%);}
.arsenalwestham{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#7A263A 50%,#7A263A 100%);}
.arsenalbournemouth{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#000000 50%,#000000 100%);}
.arsenalbrightonhovealbion{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#0057B8 50%,#0057B8 100%);}
.arsenalastonvilla{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#88bbff 50%,#88bbff 100%);}
.arsenalwatford{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#FBEE23 50%,#FBEE23 100%);}
.arsenalnewcastle{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#241F20 50%,#241F20 100%);}
.arsenaleverton{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#FFFFFF 50%,#FFFFFF 100%);}
.arsenalwolves{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#FDB913 50%,#FDB913 100%);}
.arsenalcrystalpalace{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#CF4157 50%,#CF4157 100%);}
.arsenalchelsea{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#034694 50%,#034694 100%);}
.arsenaltottenham{background: linear-gradient(135deg,#EF0107 0%,#EF0107 50%,#132257 50%,#132257 100%);}
.westhammanchestercity{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#6CABDD 50%,#6CABDD 100%);}
.westhammanchesterutd{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#DA291C 50%,#DA291C 100%);}
.westhamliverpool{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#c8102E 50%,#c8102E 100%);}
.westhamsouthampton{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#d71920 50%,#d71920 100%);}
.westhamleicester{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#003090 50%,#003090 100%);}
.westhamsheffieldutd{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#FFFFFF 50%,#FFFFFF 100%);}
.westhamnorwich{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#007020 50%,#007020 100%);}
.westhamburnley{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#6C1D45 50%,#6C1D45 100%);}
.westhamarsenal{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#EF0107 50%,#EF0107 100%);}
.westhamwestham{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#7A263A 50%,#7A263A 100%);}
.westhambournemouth{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#000000 50%,#000000 100%);}
.westhambrightonhovealbion{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#0057B8 50%,#0057B8 100%);}
.westhamastonvilla{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#88bbff 50%,#88bbff 100%);}
.westhamwatford{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#FBEE23 50%,#FBEE23 100%);}
.westhamnewcastle{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#241F20 50%,#241F20 100%);}
.westhameverton{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#FFFFFF 50%,#FFFFFF 100%);}
.westhamwolves{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#FDB913 50%,#FDB913 100%);}
.westhamcrystalpalace{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#CF4157 50%,#CF4157 100%);}
.westhamchelsea{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#034694 50%,#034694 100%);}
.westhamtottenham{background: linear-gradient(135deg,#7A263A 0%,#7A263A 50%,#132257 50%,#132257 100%);}
.bournemouthmanchestercity{background: linear-gradient(135deg,#000000 0%,#000000 50%,#6CABDD 50%,#6CABDD 100%);}
.bournemouthmanchesterutd{background: linear-gradient(135deg,#000000 0%,#000000 50%,#DA291C 50%,#DA291C 100%);}
.bournemouthliverpool{background: linear-gradient(135deg,#000000 0%,#000000 50%,#c8102E 50%,#c8102E 100%);}
.bournemouthsouthampton{background: linear-gradient(135deg,#000000 0%,#000000 50%,#d71920 50%,#d71920 100%);}
.bournemouthleicester{background: linear-gradient(135deg,#000000 0%,#000000 50%,#003090 50%,#003090 100%);}
.bournemouthsheffieldutd{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FFFFFF 50%,#FFFFFF 100%);}
.bournemouthnorwich{background: linear-gradient(135deg,#000000 0%,#000000 50%,#007020 50%,#007020 100%);}
.bournemouthburnley{background: linear-gradient(135deg,#000000 0%,#000000 50%,#6C1D45 50%,#6C1D45 100%);}
.bournemoutharsenal{background: linear-gradient(135deg,#000000 0%,#000000 50%,#EF0107 50%,#EF0107 100%);}
.bournemouthwestham{background: linear-gradient(135deg,#000000 0%,#000000 50%,#7A263A 50%,#7A263A 100%);}
.bournemouthbournemouth{background: linear-gradient(135deg,#000000 0%,#000000 50%,#000000 50%,#000000 100%);}
.bournemouthbrightonhovealbion{background: linear-gradient(135deg,#000000 0%,#000000 50%,#0057B8 50%,#0057B8 100%);}
.bournemouthastonvilla{background: linear-gradient(135deg,#000000 0%,#000000 50%,#88bbff 50%,#88bbff 100%);}
.bournemouthwatford{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FBEE23 50%,#FBEE23 100%);}
.bournemouthnewcastle{background: linear-gradient(135deg,#000000 0%,#000000 50%,#241F20 50%,#241F20 100%);}
.bournemoutheverton{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FFFFFF 50%,#FFFFFF 100%);}
.bournemouthwolves{background: linear-gradient(135deg,#000000 0%,#000000 50%,#FDB913 50%,#FDB913 100%);}
.bournemouthcrystalpalace{background: linear-gradient(135deg,#000000 0%,#000000 50%,#CF4157 50%,#CF4157 100%);}
.bournemouthchelsea{background: linear-gradient(135deg,#000000 0%,#000000 50%,#034694 50%,#034694 100%);}
.bournemouthtottenham{background: linear-gradient(135deg,#000000 0%,#000000 50%,#132257 50%,#132257 100%);}
.brightonhovealbionmanchestercity{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#6CABDD 50%,#6CABDD 100%);}
.brightonhovealbionmanchesterutd{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#DA291C 50%,#DA291C 100%);}
.brightonhovealbionliverpool{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#c8102E 50%,#c8102E 100%);}
.brightonhovealbionsouthampton{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#d71920 50%,#d71920 100%);}
.brightonhovealbionleicester{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#003090 50%,#003090 100%);}
.brightonhovealbionsheffieldutd{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#FFFFFF 50%,#FFFFFF 100%);}
.brightonhovealbionnorwich{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#007020 50%,#007020 100%);}
.brightonhovealbionburnley{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#6C1D45 50%,#6C1D45 100%);}
.brightonhovealbionarsenal{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#EF0107 50%,#EF0107 100%);}
.brightonhovealbionwestham{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#7A263A 50%,#7A263A 100%);}
.brightonhovealbionbournemouth{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#000000 50%,#000000 100%);}
.brightonhovealbionbrightonhovealbion{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#0057B8 50%,#0057B8 100%);}
.brightonhovealbionastonvilla{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#88bbff 50%,#88bbff 100%);}
.brightonhovealbionwatford{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#FBEE23 50%,#FBEE23 100%);}
.brightonhovealbionnewcastle{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#241F20 50%,#241F20 100%);}
.brightonhovealbioneverton{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#FFFFFF 50%,#FFFFFF 100%);}
.brightonhovealbionwolves{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#FDB913 50%,#FDB913 100%);}
.brightonhovealbioncrystalpalace{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#CF4157 50%,#CF4157 100%);}
.brightonhovealbionchelsea{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#034694 50%,#034694 100%);}
.brightonhovealbiontottenham{background: linear-gradient(135deg,#0057B8 0%,#0057B8 50%,#132257 50%,#132257 100%);}
.astonvillamanchestercity{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#6CABDD 50%,#6CABDD 100%);}
.astonvillamanchesterutd{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#DA291C 50%,#DA291C 100%);}
.astonvillaliverpool{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#c8102E 50%,#c8102E 100%);}
.astonvillasouthampton{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#d71920 50%,#d71920 100%);}
.astonvillaleicester{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#003090 50%,#003090 100%);}
.astonvillasheffieldutd{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#FFFFFF 50%,#FFFFFF 100%);}
.astonvillanorwich{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#007020 50%,#007020 100%);}
.astonvillaburnley{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#6C1D45 50%,#6C1D45 100%);}
.astonvillaarsenal{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#EF0107 50%,#EF0107 100%);}
.astonvillawestham{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#7A263A 50%,#7A263A 100%);}
.astonvillabournemouth{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#000000 50%,#000000 100%);}
.astonvillabrightonhovealbion{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#0057B8 50%,#0057B8 100%);}
.astonvillaastonvilla{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#88bbff 50%,#88bbff 100%);}
.astonvillawatford{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#FBEE23 50%,#FBEE23 100%);}
.astonvillanewcastle{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#241F20 50%,#241F20 100%);}
.astonvillaeverton{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#FFFFFF 50%,#FFFFFF 100%);}
.astonvillawolves{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#FDB913 50%,#FDB913 100%);}
.astonvillacrystalpalace{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#CF4157 50%,#CF4157 100%);}
.astonvillachelsea{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#034694 50%,#034694 100%);}
.astonvillatottenham{background: linear-gradient(135deg,#88bbff 0%,#88bbff 50%,#132257 50%,#132257 100%);}
.watfordmanchestercity{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#6CABDD 50%,#6CABDD 100%);}
.watfordmanchesterutd{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#DA291C 50%,#DA291C 100%);}
.watfordliverpool{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#c8102E 50%,#c8102E 100%);}
.watfordsouthampton{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#d71920 50%,#d71920 100%);}
.watfordleicester{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#003090 50%,#003090 100%);}
.watfordsheffieldutd{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#FFFFFF 50%,#FFFFFF 100%);}
.watfordnorwich{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#007020 50%,#007020 100%);}
.watfordburnley{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#6C1D45 50%,#6C1D45 100%);}
.watfordarsenal{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#EF0107 50%,#EF0107 100%);}
.watfordwestham{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#7A263A 50%,#7A263A 100%);}
.watfordbournemouth{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#000000 50%,#000000 100%);}
.watfordbrightonhovealbion{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#0057B8 50%,#0057B8 100%);}
.watfordastonvilla{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#88bbff 50%,#88bbff 100%);}
.watfordwatford{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#FBEE23 50%,#FBEE23 100%);}
.watfordnewcastle{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#241F20 50%,#241F20 100%);}
.watfordeverton{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#FFFFFF 50%,#FFFFFF 100%);}
.watfordwolves{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#FDB913 50%,#FDB913 100%);}
.watfordcrystalpalace{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#CF4157 50%,#CF4157 100%);}
.watfordchelsea{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#034694 50%,#034694 100%);}
.watfordtottenham{background: linear-gradient(135deg,#FBEE23 0%,#FBEE23 50%,#132257 50%,#132257 100%);}
.newcastlemanchestercity{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#6CABDD 50%,#6CABDD 100%);}
.newcastlemanchesterutd{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#DA291C 50%,#DA291C 100%);}
.newcastleliverpool{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#c8102E 50%,#c8102E 100%);}
.newcastlesouthampton{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#d71920 50%,#d71920 100%);}
.newcastleleicester{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#003090 50%,#003090 100%);}
.newcastlesheffieldutd{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#FFFFFF 50%,#FFFFFF 100%);}
.newcastlenorwich{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#007020 50%,#007020 100%);}
.newcastleburnley{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#6C1D45 50%,#6C1D45 100%);}
.newcastlearsenal{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#EF0107 50%,#EF0107 100%);}
.newcastlewestham{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#7A263A 50%,#7A263A 100%);}
.newcastlebournemouth{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#000000 50%,#000000 100%);}
.newcastlebrightonhovealbion{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#0057B8 50%,#0057B8 100%);}
.newcastleastonvilla{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#88bbff 50%,#88bbff 100%);}
.newcastlewatford{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#FBEE23 50%,#FBEE23 100%);}
.newcastlenewcastle{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#241F20 50%,#241F20 100%);}
.newcastleeverton{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#FFFFFF 50%,#FFFFFF 100%);}
.newcastlewolves{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#FDB913 50%,#FDB913 100%);}
.newcastlecrystalpalace{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#CF4157 50%,#CF4157 100%);}
.newcastlechelsea{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#034694 50%,#034694 100%);}
.newcastletottenham{background: linear-gradient(135deg,#241F20 0%,#241F20 50%,#132257 50%,#132257 100%);}
.evertonmanchestercity{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#6CABDD 50%,#6CABDD 100%);}
.evertonmanchesterutd{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#DA291C 50%,#DA291C 100%);}
.evertonliverpool{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#c8102E 50%,#c8102E 100%);}
.evertonsouthampton{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#d71920 50%,#d71920 100%);}
.evertonleicester{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#003090 50%,#003090 100%);}
.evertonsheffieldutd{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FFFFFF 50%,#FFFFFF 100%);}
.evertonnorwich{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#007020 50%,#007020 100%);}
.evertonburnley{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#6C1D45 50%,#6C1D45 100%);}
.evertonarsenal{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#EF0107 50%,#EF0107 100%);}
.evertonwestham{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#7A263A 50%,#7A263A 100%);}
.evertonbournemouth{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#000000 50%,#000000 100%);}
.evertonbrightonhovealbion{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#0057B8 50%,#0057B8 100%);}
.evertonastonvilla{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#88bbff 50%,#88bbff 100%);}
.evertonwatford{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FBEE23 50%,#FBEE23 100%);}
.evertonnewcastle{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#241F20 50%,#241F20 100%);}
.evertoneverton{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FFFFFF 50%,#FFFFFF 100%);}
.evertonwolves{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#FDB913 50%,#FDB913 100%);}
.evertoncrystalpalace{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#CF4157 50%,#CF4157 100%);}
.evertonchelsea{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#034694 50%,#034694 100%);}
.evertontottenham{background: linear-gradient(135deg,#FFFFFF 0%,#FFFFFF 50%,#132257 50%,#132257 100%);}
.wolvesmanchestercity{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#6CABDD 50%,#6CABDD 100%);}
.wolvesmanchesterutd{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#DA291C 50%,#DA291C 100%);}
.wolvesliverpool{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#c8102E 50%,#c8102E 100%);}
.wolvessouthampton{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#d71920 50%,#d71920 100%);}
.wolvesleicester{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#003090 50%,#003090 100%);}
.wolvessheffieldutd{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#FFFFFF 50%,#FFFFFF 100%);}
.wolvesnorwich{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#007020 50%,#007020 100%);}
.wolvesburnley{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#6C1D45 50%,#6C1D45 100%);}
.wolvesarsenal{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#EF0107 50%,#EF0107 100%);}
.wolveswestham{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#7A263A 50%,#7A263A 100%);}
.wolvesbournemouth{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#000000 50%,#000000 100%);}
.wolvesbrightonhovealbion{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#0057B8 50%,#0057B8 100%);}
.wolvesastonvilla{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#88bbff 50%,#88bbff 100%);}
.wolveswatford{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#FBEE23 50%,#FBEE23 100%);}
.wolvesnewcastle{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#241F20 50%,#241F20 100%);}
.wolveseverton{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#FFFFFF 50%,#FFFFFF 100%);}
.wolveswolves{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#FDB913 50%,#FDB913 100%);}
.wolvescrystalpalace{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#CF4157 50%,#CF4157 100%);}
.wolveschelsea{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#034694 50%,#034694 100%);}
.wolvestottenham{background: linear-gradient(135deg,#FDB913 0%,#FDB913 50%,#132257 50%,#132257 100%);}
.crystalpalacemanchestercity{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#6CABDD 50%,#6CABDD 100%);}
.crystalpalacemanchesterutd{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#DA291C 50%,#DA291C 100%);}
.crystalpalaceliverpool{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#c8102E 50%,#c8102E 100%);}
.crystalpalacesouthampton{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#d71920 50%,#d71920 100%);}
.crystalpalaceleicester{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#003090 50%,#003090 100%);}
.crystalpalacesheffieldutd{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#FFFFFF 50%,#FFFFFF 100%);}
.crystalpalacenorwich{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#007020 50%,#007020 100%);}
.crystalpalaceburnley{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#6C1D45 50%,#6C1D45 100%);}
.crystalpalacearsenal{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#EF0107 50%,#EF0107 100%);}
.crystalpalacewestham{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#7A263A 50%,#7A263A 100%);}
.crystalpalacebournemouth{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#000000 50%,#000000 100%);}
.crystalpalacebrightonhovealbion{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#0057B8 50%,#0057B8 100%);}
.crystalpalaceastonvilla{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#88bbff 50%,#88bbff 100%);}
.crystalpalacewatford{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#FBEE23 50%,#FBEE23 100%);}
.crystalpalacenewcastle{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#241F20 50%,#241F20 100%);}
.crystalpalaceeverton{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#FFFFFF 50%,#FFFFFF 100%);}
.crystalpalacewolves{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#FDB913 50%,#FDB913 100%);}
.crystalpalacecrystalpalace{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#CF4157 50%,#CF4157 100%);}
.crystalpalacechelsea{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#034694 50%,#034694 100%);}
.crystalpalacetottenham{background: linear-gradient(135deg,#CF4157 0%,#CF4157 50%,#132257 50%,#132257 100%);}
.chelseamanchestercity{background: linear-gradient(135deg,#034694 0%,#034694 50%,#6CABDD 50%,#6CABDD 100%);}
.chelseamanchesterutd{background: linear-gradient(135deg,#034694 0%,#034694 50%,#DA291C 50%,#DA291C 100%);}
.chelsealiverpool{background: linear-gradient(135deg,#034694 0%,#034694 50%,#c8102E 50%,#c8102E 100%);}
.chelseasouthampton{background: linear-gradient(135deg,#034694 0%,#034694 50%,#d71920 50%,#d71920 100%);}
.chelsealeicester{background: linear-gradient(135deg,#034694 0%,#034694 50%,#003090 50%,#003090 100%);}
.chelseasheffieldutd{background: linear-gradient(135deg,#034694 0%,#034694 50%,#FFFFFF 50%,#FFFFFF 100%);}
.chelseanorwich{background: linear-gradient(135deg,#034694 0%,#034694 50%,#007020 50%,#007020 100%);}
.chelseaburnley{background: linear-gradient(135deg,#034694 0%,#034694 50%,#6C1D45 50%,#6C1D45 100%);}
.chelseaarsenal{background: linear-gradient(135deg,#034694 0%,#034694 50%,#EF0107 50%,#EF0107 100%);}
.chelseawestham{background: linear-gradient(135deg,#034694 0%,#034694 50%,#7A263A 50%,#7A263A 100%);}
.chelseabournemouth{background: linear-gradient(135deg,#034694 0%,#034694 50%,#000000 50%,#000000 100%);}
.chelseabrightonhovealbion{background: linear-gradient(135deg,#034694 0%,#034694 50%,#0057B8 50%,#0057B8 100%);}
.chelseaastonvilla{background: linear-gradient(135deg,#034694 0%,#034694 50%,#88bbff 50%,#88bbff 100%);}
.chelseawatford{background: linear-gradient(135deg,#034694 0%,#034694 50%,#FBEE23 50%,#FBEE23 100%);}
.chelseanewcastle{background: linear-gradient(135deg,#034694 0%,#034694 50%,#241F20 50%,#241F20 100%);}
.chelseaeverton{background: linear-gradient(135deg,#034694 0%,#034694 50%,#FFFFFF 50%,#FFFFFF 100%);}
.chelseawolves{background: linear-gradient(135deg,#034694 0%,#034694 50%,#FDB913 50%,#FDB913 100%);}
.chelseacrystalpalace{background: linear-gradient(135deg,#034694 0%,#034694 50%,#CF4157 50%,#CF4157 100%);}
.chelseachelsea{background: linear-gradient(135deg,#034694 0%,#034694 50%,#034694 50%,#034694 100%);}
.chelseatottenham{background: linear-gradient(135deg,#034694 0%,#034694 50%,#132257 50%,#132257 100%);}
.tottenhammanchestercity{background: linear-gradient(135deg,#132257 0%,#132257 50%,#6CABDD 50%,#6CABDD 100%);}
.tottenhammanchesterutd{background: linear-gradient(135deg,#132257 0%,#132257 50%,#DA291C 50%,#DA291C 100%);}
.tottenhamliverpool{background: linear-gradient(135deg,#132257 0%,#132257 50%,#c8102E 50%,#c8102E 100%);}
.tottenhamsouthampton{background: linear-gradient(135deg,#132257 0%,#132257 50%,#d71920 50%,#d71920 100%);}
.tottenhamleicester{background: linear-gradient(135deg,#132257 0%,#132257 50%,#003090 50%,#003090 100%);}
.tottenhamsheffieldutd{background: linear-gradient(135deg,#132257 0%,#132257 50%,#FFFFFF 50%,#FFFFFF 100%);}
.tottenhamnorwich{background: linear-gradient(135deg,#132257 0%,#132257 50%,#007020 50%,#007020 100%);}
.tottenhamburnley{background: linear-gradient(135deg,#132257 0%,#132257 50%,#6C1D45 50%,#6C1D45 100%);}
.tottenhamarsenal{background: linear-gradient(135deg,#132257 0%,#132257 50%,#EF0107 50%,#EF0107 100%);}
.tottenhamwestham{background: linear-gradient(135deg,#132257 0%,#132257 50%,#7A263A 50%,#7A263A 100%);}
.tottenhambournemouth{background: linear-gradient(135deg,#132257 0%,#132257 50%,#000000 50%,#000000 100%);}
.tottenhambrightonhovealbion{background: linear-gradient(135deg,#132257 0%,#132257 50%,#0057B8 50%,#0057B8 100%);}
.tottenhamastonvilla{background: linear-gradient(135deg,#132257 0%,#132257 50%,#88bbff 50%,#88bbff 100%);}
.tottenhamwatford{background: linear-gradient(135deg,#132257 0%,#132257 50%,#FBEE23 50%,#FBEE23 100%);}
.tottenhamnewcastle{background: linear-gradient(135deg,#132257 0%,#132257 50%,#241F20 50%,#241F20 100%);}
.tottenhameverton{background: linear-gradient(135deg,#132257 0%,#132257 50%,#FFFFFF 50%,#FFFFFF 100%);}
.tottenhamwolves{background: linear-gradient(135deg,#132257 0%,#132257 50%,#FDB913 50%,#FDB913 100%);}
.tottenhamcrystalpalace{background: linear-gradient(135deg,#132257 0%,#132257 50%,#CF4157 50%,#CF4157 100%);}
.tottenhamchelsea{background: linear-gradient(135deg,#132257 0%,#132257 50%,#034694 50%,#034694 100%);}
.tottenhamtottenham{background: linear-gradient(135deg,#132257 0%,#132257 50%,#132257 50%,#132257 100%);}