//@import url(//fonts.googleapis.com/css?family=Roboto:300,400,600,700);
@import url(/static/thirdparty/robotofont);
body {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "scoreboard";
    src: url(/static/thirdparty/Bazaronite.ttf) format("truetype");
}

.scoreboardfont {
    font-family: "scoreboard";
    color: #ff9900 !important;
    font-size: 1.1rem !important;
    padding: 0.3rem !important;
    margin: 0px !important;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

h1,
h2 {
    font-size: 2.2em;
    font-weight: 350;
    border-style: none none solid none;
    border-width: 0.04em;
    border-color: #d3d3d3;
    //font-variant: small-caps;
}
p {
  font-weight: 300;
}

/*table { table-layout: fixed;
        width: 100%;
        float: left;

        border-collapse: collapse;
}*/

@media screen and (max-width: 900px) {
    .extra{
        display: none;
    }
}

.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}

#mySexyBody .heroesForm {
                width:500px;
                margin:10px auto;
}

/* Table css */
@media screen and (min-width: 600px){
tr > td
{
  padding-bottom: 2.5px;
  padding-top: 2.5px;
}}

@media screen and (max-width: 900px){
.sellHeader{
    margin-bottom: 15px !important;
}
}

.dateField input{
width:80px;
}

#extraTableInfo div
{padding-left:0px;
padding-right:0px;}

#tableDates form{
    margin: 3px;
    padding: 0px;
}

.domainTableHeader{width:400px;}
.rankTableHeader{width:100px;}
.dayTableHeader{width:100px;}
/*.domainTableHeader{width:400px;}*/

.tablePosition{font-size: 130%;}

.topTenDomain{font-size: 120%;
             width:400px;
             overflow: hidden;
             }

.topTenDomain:hover {
                     overflow: visible
                     }

.tableDomain{width:400px;
             overflow: hidden;
            }

.tableDomain:hover {width:400px;
                     overflow: visible
                     }

.fullUrlEntry {width:60px;
               overflow: hidden;
               }

.fullUrlEntry:hover {width:60px;
                     overflow: visible
                     }

.upMyArrow{color:lime;}
.supMyArrow{color:green;}
.sdownMyArrow{color:tomato;}
.downMyArrow{color:red;}

.positive{color:green;}
.negative{color:red;}

#positiveMessage{color:green;!important}
#negativeMessage{color:red;!important}

.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.submit {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
submit:hover  {
                background-color:#fafafa;
                color:#207cca;
}

/*Account css*/

#addSearchForm div { display: inline-block;
                    /*margin-top: 10px;*/
                        }

#message {color: red;}

#successMessage {color: green;}  // this has been done kind of hackily

#updatePassword > .pwd {display: block;}

#change_pwd_but {display: inline-block;}

#change_pwd_but ~ * {display: inline-block;}

#topBar input {margin-top: 0px;
                margin-right: 0px;}
#topBar form {margin:0px;}

.userRow {font-weight: bold;
}

.outsideRanks {border-top: 2px solid black;}

[class^=messageTrans] {font-weight: bold}
.messageTransOpen {color: green}
.messageTransClosed {color: red}

.toTransfer {opacity: 0.5}

.positionHeader {width: 8%}
.rankingHeader {width: 15%}

.hero_images {float:right;
                            margin-right:6px;
}

.heroIcon {margin-bottom: 0px}
img {margin-bottom: 0px;
    margin-right: 0px
}


.myHighlight {background-color: #3c0}
[id^=heroTable] > tbody > tr:nth-child(odd) {background-color: #f2f2f2}

// for battlecup page team table
//#heroTable {width: 350px}

[id^=heroTable] > .playerName{margin-top: 3px;}


// override materialize stuff
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.fakeNav {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc!important;
    }

.card-table {
    background-color: #fff !default;
    transition: box-shadow .25s;
    border-radius: 2px;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    margin: .5rem 0 1rem 0;
    table-layout: auto;

}

.btn {
    padding: 0 1rem;
}

.heroEntry {text-align: left!important;
    width: 170px
}


.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}
@media screen and (min-width: 601px)
  .container {
    width: 85%;
}
@media screen and (min-width: 993px)
  .container {
    width: 70%;
}

.banIcon {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
 }

 .pointerCursor {
    cursor: pointer;
 }

 .achievementBlock {
    margin-top: 20px;
 }

 .awardIcon {
    color: Gold;
 }

@media screen
and (max-width: 900px)
{
 .leaderboardDropdown {
    padding: 0 10px;
 }
 }

@media screen
and (max-width: 900px)
{
 .leaderboardDropdown > i {
    margin-left: 10px;
 }
 }
.gridHeroDiv {
    position: relative;
    min-height: 72px;
    min-width: 128px;
}
 .gridHeroBtn {
      position: absolute;
      bottom: 0;
  right: 0;
 }

 @media screen
and (max-width: 900px)
{
 .playerCardSmol {
    height: 350px !important;
 }
 }

  .playerCard { border-radius : 10px;
    height: 420px;
 }

 .playerCardSmol { border-radius : 10px;
    height: 420px;
 }

 .rarity-gold{
     background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
 }

 .rarity-silver{
     background: radial-gradient(ellipse farthest-corner at right bottom, silver 0%, #A1A2A3 8%, #8E8E8D 30%, #7D7D7A 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #B3B6B5 8%, #A1A2A3 25%, #8E8E8D 62.5%, #7D7D7A 100%);
 }

.rarity-bronze{
background:  radial-gradient(ellipse farthest-corner at right bottom, silver 0%, #CD7F32 8%, #BE7023 30%, #AF6114 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFF 0%, #DC8E41 8%, #AF6114 25%, #774d22 62.5%, #CD7F32 100%);
}

.bonus-rarity-text{
    color: white;
}

.bottomRightParent{
    position: relative;
}
.bottomRight{
    position: absolute;
right:    5px;
bottom:   5px;
}

/*.invisible{
// materialize .hide does same job
    display: none;
}*/

.swal2-content{
color: black !important;
}

.swal-newcards{
height: 470px;
}
.swal-newcards-header{
height: 40px
}

@media screen
and (max-width: 900px)
{
 .matchRow {
    width: 100% !important;
 }
 }

 /*
     background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
 background-blend-mode: screen;
 */


 /*
 Predictions
 */
 .predictionsMatchRow{
    border-radius: 150px;
   display: block;
    width: 60%;
    height: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

  .teamOne, .teamTwo {
    padding: inherit !important;
  }

  .predictionRow{
    padding: 0%
  }

  .teamIcon{
  margin-left: 5px;
  margin-right: 5px;
    width: 32px;
  }

/*
random stuff
*/
  .noMargin{
    margin: 0px;
  }

  .vcenterText{
    display: flex;
    align-items: center;
  }